<%- include('partials/frontend/header') %> 

<div class="error-box">
    <div class="error-body text-center">
        <h1 class="error-title text-danger">404</h1>
        <h3 class="text-uppercase error-subtitle">ΛΑΘΟΣ ΔΙΑΔΡΟΜΗ</h3>
        <p class="text-dark-75 m-t-30 m-b-30">Φαίνεται ότι βρεθήκατε σε λάθος διαδρομή. Πατήστε το κουμπί επιστροφή για να επιστρέψετε στην αρχική σελίδα!</p>
        <a href="/" class="btn btn-danger btn-rounded waves-effect waves-light m-b-40">Επιστροφή</a> </div>
</div>

<%- include('partials/frontend/footer') %> 
