<%- include('../partials/dashboard/header') %> 
<%- include('../partials/flash') %>
<p class="h3">Σχετικά με την εφαρμογή</p>

<div class="card">
    <div class="card-body">

        <div class="blockquote-center">
            <p class="mb-0">H Online Menu App αναπτύχθηκε για την κάλυψη των αναγκών επιχειρήσεων εστίασης και όχι μόνο.
                Απευθύνεται σε αυτούς που θέλουν να έχουν μία απλή, οικονομική και εύκολη λύση όπου θα μπορούν να 
            </p> 
            <!-- TODO - Προσθήκη σύντομης περιγραφής στο About -->
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div>
            <div class="h3">Τεχνολογία και Βάσεις Δεδομένων</div>
            <dl class="row">
                <dt class="col-sm-2">Γλώσσα Προγραμματισμού</dt>
                <dd class="col-sm-10">HTML, CSS, Javascript</dd>

                <dt class="col-sm-2">Runtime Environment</dt>
                <dd class="col-sm-10">NodeJS 14</dd>
              
                <dt class="col-sm-2">Βάσεις Δεδομένων</dt>
                <dd class="col-sm-10">
                  <p>MongoDb - Αποθήκευση ορμαθών δεδομένων (string)</p>
                  <p>CloudinaryAPI - Αποθήκευση Φωτογραφιών και PDF</p>
                </dd>
              
                <dt class="col-sm-2">Framework Ανάπτυξης</dt>
                <dd class="col-sm-10">ExpressJS</dd>
              </dl>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="h3">Σχεδιασμός & Ανάπτυξη</div>
                <dl class="row">

                    <dt class="col-sm-6">Σχεδιασμός & Ανάπτυξη</dt>
                    <dd class="col-sm-6">Κατσούλης Θεοδόσιος</dd>
                    
                    <dt class="col-sm-6">Τηλέφωνο Επικοινωνίας</dt>
                    <dd class="col-sm-6">694-914-1467</dd>

                    <dt class="col-sm-6">Email</dt>
                    <dd class="col-sm-6">theodosis.kats@gmail.com</dd>
                </dl>


                <p>
                    Το τηλέφωνο επικοινωνίας παρέχετε με αποκλειστικό σκοπό
                    την επικοινωνία για θέματα όπως
                    <li>Έπεσε ο server</li>
                    <li>Δεν φορτώνουν τα δεδομένα</li>
                    <li>Δεν είναι δυνατή η σύνδεση του διαχειριστή κτλ.</li>
                    <br>

                    Αποκλειστικά για λειτουργικά θέματα της εφαρμογής και όχι
                    χρήσης αυτής. Για θέματα χρήσης μπορείτε να συμβουλευτείτε
                    την αρχική σελίδα του κέντρου διαχείρησης.
                </p>


                <p>Ισχύουν <a target="_blank" href="https://termsofuseoma.000webhostapp.com/Terms_Of_Use_OMA_EL.pdf">Όροι και Προϋποθέσεις</a></p>

            </div>
        </div>

        
                <!-- Start Updates Board -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title m-b-0">Εκδόσεις Προγράμματος</h4>
                    </div>
                    <div class="todo-widget scrollable" style="height:450px;">
                        <ul class="list-style-none">

                            <li class="d-flex no-block card-body">
                                <i class="fad fa-code-merge"></i>
                                <div class="col-11">
                                    <a class="m-b-0 font-medium p-0">Version: 2.7.3 | ΔΕΚ 13, 2021</a>
                                    <span class="text">
                                        <i class="fad fa-code-commit"></i> Αυτόματη ταξινόμηση προϊόντων της εκάστοτε κατηγορίας στη κεντρική σελίδα εγκαταστάσεων που βλέπουν οι επισκέπτες <br>
                                        <i class="fad fa-code-commit"></i> Ενημέρωση Όρων & Προϋποθέσεων Χρήσης
                                    </span>
                                </div>
                            </li>

                            <li class="d-flex no-block card-body">
                                <i class="fad fa-code-merge"></i>
                                <div class="col-11">
                                    <a class="m-b-0 font-medium p-0">Version: 2.7.2 | ΝΟΕ 26, 2021</a>
                                    <span class="text">
                                        <i class="fad fa-code-commit"></i> Προσθήκη νέων στοιχείων επικοινωνίας <br>
                                        <i class="fad fa-code-commit"></i> Διορθώσεις εμφάνισης στη κεντρική επισκεπτών
                                    </span>
                                </div>
                            </li>

                            <li class="d-flex no-block card-body">
                                <i class="fad fa-code-merge"></i>
                                <div class="col-11">
                                    <a class="m-b-0 font-medium p-0">Version: 2.7.1 | ΝΟΕ 21, 2021</a>
                                    <span class="text">
                                        <i class="fad fa-code-commit"></i> Προσθήκη Μήνυμα Καλωσορίσματος <br>
                                        <i class="fad fa-code-commit"></i> Αυτόματη ενημέρωση προϊόντων που αντιστοιχούν στην εκάστοτε κατηγορία όταν ενημερώνουμε/αλλάζουμε το όνομά της <br>
                                        <i class="fad fa-code-commit"></i> Προσθήκη απαίτησης ισχυρού κωδικού χρήστη κατά τη δημιουργία νέου χρήστη
                                    </span>
                                </div>
                            </li>
                            
        
                        </ul>
                    </div>
                </div>
                <!-- End of Updates Board -->


    </div>

    <div class="col-md-6 col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="h3">Ασφάλεια</div>
                <p>
                    Η εφαρμογή αναπτύχθηκε με βασικό γνώμονα την ασφάλεια των συστημάτων 
                    και βάσεων δεδομένων της αλλά, όπως κάθε προϊόν ή υπηρεσία που παρέχετε 
                    μέσω διαδικτύου, έτσι και αυτή η εφαρμογή μπορεί να παραβιαστεί.
                    Ένας από τους κυριότερους κινδύνους που αντιμετωπίζει η εφαρμογή είναι
                    οι ίδιοι οι διαχειριστές αυτής. Αυτό σημαίνει ότι ο κάθε διαχειριστής
                    φέρει την αποκλειστική ευθύνη για την ασφάλεια των διαπιστευτηρίων σύνδεσης
                    στο κέντρο διαχείρισης (Dashboard) καθώς και είναι υπεύθυνος για τα δεδομένα
                    που δημοσιεύει και κοινοποιεί προς το κοινό- επισκέπτες του ΚΑΑΥ Αγ. Τριάδος.
                    <br><br>
                    
                    Με άλλα λόγια, κάθε πληροφορία, κάθε pdf και κάθε φωτογραφία που θα 
                    δημοσιεύεται στη πλατφόρμα θα πρέπει να έχει ελεγχθεί για ιούς ή άλλο κακόβουλο
                    λογισμικό.
                    <br><br> 
                    
                    <u>Ο υπολογιστής τον οποίο θα χρησιμοποιούμε για την διαχείριση της εφαρμογής
                    θα πρέπει να είναι <mark><b>Windows 10</b></mark></u> ή νεότερο και να έχει εγκατασταθεί <mark><b>Antivirus</b></mark> το οποίο θα 
                    φέρει όλες τις τελευταίες ενημερώσεις για ασφάλεια και αντιμετώπιση κακόβουλων λογισμικών.
                    Τα Windows 7 που χρησιμοποιούνται επί των πλείστων από τις στρατιωτικές μονάδες αποτελούν την 
                    μεγαλύτερη απειλή για προσβολή την εφαρμογής. 
                    <br><br>
                
                    Για όλους αυτούς τους παραπάνω λόγους ο προγραμματιστής της εφαρμογής δεν μπορεί να εγγυηθεί 
                    για την απόλυτη ασφάλεια της εφαρμογής πάρα μόνο να εξασφαλίσει ότι τα εξωτερικά αιτήματα (requests)
                    που θα δέχεται η εφαρμογή δεν αποτελούν απειλή καθώς με τη χρήση των modules Passport 0.4.1, Helmet 4.6.0 και Express Mongo Sanitize 2.1.0
                    καθώς και των middleware που ελέγχουν κάθε αίτημα ακόμα και από τους ίδους τους διαχειριστές συστήματος
                    αν έχουν τα απαραίτητα δικαιώματα για πρόσβαση σε διάφορα παραρτήματα της εφαρμογής, η απειλή από εξωτερικά αιτήματα
                    έχει αποκλειστεί. 
                    <br><br>

                    Τέλος μένουν οι διακομιστές φιλοξενίας (server) και οι βάσεις δεδομένων που διατηρούνται τα αρχεία και τα δεδομένα
                    της εφαρμογής. Το Heroku είναι μια πλατφόρμα cloud ως υπηρεσία που φιλοξενεί εφαρμογές όπως και αυτή. Αποτελεί μέρος τους
                    γονικού οργανισμού Salesforce.com, που αυτόματα εξασφαλίζει ένα πολύ ασφαλές περιβάλλον για φιλοξενίας. Παρόμοια και η 
                    MongoDB αποτελεί από τα υψηλότερα standards στη βιομηχανία λόγο του ελεύθερου τύπου σχημάτων που διατηρεί αλλά και τον τρόπο
                    που η εφαρμογή αποκτά πρόσβαση στα δεδομένα της βάσης προσπερνώντας τα μη απαραίτητα πεδία που θα μπορούσε κάποιος να προσθέσει
                    με σκοπό τη δολιοφθορά επειδή δεν τα χρησιμοποιεί. Παρόλα αυτά, για την εξασφάλιση ακόμα και της περίπτωσης ότι ένα πακέτο δεδομένων
                    μπορεί να φορτωθεί στη βάση δεδομένων της εφαρμογής το module Express Mongo Sanitize αντικαθιστά κάθε μορφής Post Request με αντίστροφους χαρακτήρες
                    καθιστώντας έτσι τα δεδομένα ακατανόητα για την εφαρμογή μας αλλά και για τη βάση δεδομένων που σημαίνει και στην απόρριψή τους.
                </p>

    
                
            </div>
        </div>
    </div>
    
</div>



<%- include('../partials/dashboard/footer') %> 
