<%- include('../partials/dashboard/header') %> 
<%- include('../partials/flash') %>
<div class="card-body">
    <h5 class="card-title">Νέα Κατηγορία</h5>
    <div class="tabs">
    <form class="col-md-6 offset-md-3 needs-validation" action="new" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>
        <div class="mb-3">
            <label class="form-label" for="name">Όνομα</label>
            <input class="form-control" type="text" id="name" name="Category[name]" required>
            <div class="invalid-feedback">
                Παρακαλώ εισάγετε ένα όνομα για τη κατηγορία.
            </div>
        </div>
    <div class="mb-3">
            <label class="form-label" for="description">Περιγραφή (Προεραιτικό)</label>
            <textarea class="form-control" type="text" id="description" name="Category[description]"></textarea>
            </div>
            <div class="mb-3">
            <label class="form-label" for="Image">Φωτογραφία (Προεραιτικό)</label>
            <div class="form-file custom-file">
                <input type="file" class="form-file-input" id="Image" name="Image">
            </div>
            <div class="row float-right">
            <button type="submit" class="btn btn-success">Αποθήκευση</button>
            </div>
    </form>
        <a href="/categories/">Επιστροφή</a>	
    </div>
</div>

<%- include('../partials/dashboard/footer') %> 
