<!DOCTYPE html>
<html lang="el">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Online Menu App</title>
	<meta name="description" content="Online Menu App">
    <meta name="author" content="Theodosis Katsoulis">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">

	<!-- Bootstrap 4.5.0 -->
	<link href="/dist/css/bootstrap4.5.0-frontend.css" rel="stylesheet">

	<!-- Font Awesome -->
	<link href="/dist/fontawesome/all.css" rel="stylesheet">
	<script src='/dist/fontawesome/pro.js'></script>

	<!-- Global CSS Override -->
    <link href="/dist/css/global.css" rel="stylesheet">

</head>

<body class="header-static header-mobile-fixed subheader-enabled bodybg" >
	<div class="floatingFlag" style="background-image: url(https://res.cloudinary.com/kaay/image/upload/v1637435613/icons/greece-flag-18_aovqhz.gif);"></div>

	<div class="d-flex flex-column flex-column-fluid" id="kt_content">
		<div id="app">
			<div>
				<!---->

					<div class="headerbanner" style="background-image: url(/img/web-banner-sm.png); ">
					</div>

				<div class="container">